//- autopark задано в offers.json

-
  const types = Object.entries(autopark)
    .map(([type, {title, offers}]) => ({title, type, offers}))

mixin types-list()
  ul(class="autopark__types-list autopark__types-list--no-js list-reset")
    - for (let i = 0; i < types.length; i++)
      li(class="autopark__type")
        button(
          class="autopark__type-button"
          type="button"
          data-type=`${types[i].type}`
        ).
          #{types[i].title}

mixin slides-list(type)
  ul(class="autopark__slider autopark__slider--no-js list-reset")
    - for (let i = 0; i < type.offers.length; i++)
      li(
        class="autopark__slide autopark__slide--no-js"
        data-slide=type.offers[i].id
      )
        article(class="autopark__offer")
          h3(class="autopark__offer-title").
            #{type.offers[i].title}
          picture(class="autopark__offer-img-wrapper")
            source(
              type="image/webp"
              srcset=type.offers[i].imgWebp
            )
            img(
              src=type.offers[i].img
              width="641"
              height="453"
              alt="Наша фирменная машина"
            )
          ul(class="autopark__offer-features-list list-reset")
            li(class="autopark__offer-feature").
              Ширина #{type.offers[i].width}
            li(class="autopark__offer-feature").
              Высота #{type.offers[i].height}
            li(class="autopark__offer-feature").
              Объем #{type.offers[i].volume}
            li(class="autopark__offer-feature").
              Грузоподъемность #{type.offers[i].payload}
          p(class="autopark__offer-description").
            #{type.offers[i].info}
          a(
            class=`
              autopark__offer-order-button
              autopark__offer-order-button--no-js
              order-button
            `
            href=`#order-${type.offers[i].id}`
          ).
            Заказать

mixin slides-controls(type)
  ul(class=`
      autopark__slider-controls
      autopark__slider-controls--no-js
      list-reset
    `
  )
    - for (let i = 0; i < type.offers.length; i++)
      li(class="autopark__slide-button-wrapper")
        button(
          class="autopark__slide-button"
          type="button"
          aria-label=`Переключить на ${i + 1} слайд`
          data-slide=type.offers[i].id
        )

mixin sliders-list()
  ul(class="autopark__sliders-list autopark__sliders-list--no-js list-reset")
    - for (let i = 0; i < types.length; i++)
      li(
        class="autopark__slider-wrapper autopark__slider-wrapper--no-js"
        data-type=`${types[i].type}`
      )
        button(
          class=`
            autopark__slider-switch-button
            autopark__slider-switch-button--previous
            autopark__slider-switch-button--no-js
          `
          type="button"
          aria-label="Предыдущий слайд"
        )
        +slides-list(types[i])
        button(
          class=`
            autopark__slider-switch-button
            autopark__slider-switch-button--next
            autopark__slider-switch-button--no-js
          `
          type="button"
          aria-label="Следующий слайд"
        )
        +slides-controls(types[i])
  a(
    class=`
      autopark__slider-order-button
      autopark__slider-order-button--no-js
      order-button
    `
    href="#order"
  ).
    Заказать

section(class="autopark")
  h2(class="autopark__title").
    Автопарк
  p(class="autopark__subtitle").
    10 видов автомобилей от 800 кг до 10 тонн
  +types-list()
  +sliders-list()
