//- places задано в offers.json

mixin offers-list()
  ul(class="cost__offers-list list-reset")
    - for (let i = 0; i < places.length; i++)
      li(
        class=`
          cost__offer-wrapper
          cost__offer-wrapper--no-js
          ${places[i].highlight ? "cost__offer-wrapper--active" : ""}
        `
      )
        article(class="cost__offer")
          h3(class="cost__offer-title").
            #{places[i].title}
          ul(class="cost__offer-features-list list-reset")
            li(class="cost__offer-feature").
              #{places[i].vehicles}
            li(class="cost__offer-feature").
              #{places[i].humans}
            li(class="cost__offer-feature").
              #{places[i].time}
          p(class="cost__offer-price").
            #{places[i].cost}
          a(
            class="cost__offer-order-button order-button"
            href="#callback"
            data-offer-id=places[i].id
          ).
            Заказать

section(class="cost" id="cost")
  h2(class="cost__title").
    Цены
  p(class="cost__subtitle").
    Фиксированная стоимость на переезд под ключ
  +offers-list()
  button(
    class="cost__open-costs-button cost__open-costs-button--no-js"
    type="button"
    id="open-costs-buttons-js"
  ).
    Все цены
