include ../mixins/social-list.pug

section(class="placement" id="placement")
  h2(class="visually-hidden").
    Наше расположение
  div(class="placement__map-wrapper")
    picture
      source(type="image/webp" srcset="img/map.webp")
      img(
        src="img/map.png"
        width="1924"
        height="666"
        alt="Расположение нашего оффиса"
      )
  div(class="placement__info-wrapper")
    img(
      class="placement__logo"
      width="115"
      height="37"
      src="img/logo.svg"
      alt="MOVEE"
    )
    ul(class="placement__contacts-wrapper list-reset")
      li(class="placement__contact")
        p(class="placement__adress").
          Москва, Волгоградский пр-т, 38
      li(class="placement__contact")
        a(
          class="placement__phone"
          href="tel:+78000801213"
        ).
          8 (800)-080-12-13
      li(class="placement__contact placement__contact--mail")
        a(
          class="placement__mail"
          href="mailto:hello@movee.ru"
        ).
          hello@movee.ru
    +social-list(`placement__social-list`)
